.hello {

	stroke-dasharray: 4000;
	stroke-dashoffset: 4000;
	fill: #FFFFFf;
  -webkit-animation: dash 6s linear alternate forwards,
  					 filler 1s 5.9s linear alternate 1 forwards; 
  		  animation: dash 6s linear alternate forwards,
  		  			 filler 1s 5.9s linear alternate 1 forwards; 
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
 }
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes filler {
	to { fill: #000000;}
}
@keyframes filler {
	to {fill: #000000;}

}

.double-u {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	fill: #FFFFFf;
  -webkit-animation: dash 6.175s linear alternate forwards,
					filler 1s 5.9s linear alternate 1 forwards;
  		  animation: dash 6.175s linear alternate forwards,
  		  filler 1s 5.9s linear alternate 1 forwards;

}



.orld {
	stroke-dasharray: 4000;
	stroke-dashoffset: 4000;
	fill: #FFFFFf;
  -webkit-animation: dash 6s linear alternate forwards,
  					filler 1s 5.9s linear alternate 1 forwards;
  		  animation: dash 6s linear alternate forwards,
  		  	filler 1s 5.9s linear alternate 1 forwards;
}

